@import './rem.scss';

$App:"App";
.#{$App} {
    text-align: center;

    &-logo {
        animation: App-logo-spin infinite 20s linear;
        height: 80px;
    }

    &-header {
        background-color: #222;
        height: 150px;
        padding: 20px;
        color: white;
    }

    &-title {
        animation: App-title-spin 2s infinite;
        font-size: pxToRem(25px);
    }

    &-intro {
        font-size: large;
    }

    @keyframes App-logo-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    @keyframes App-title-spin {
      from {
          color: red;
      }
      to {
          color: yellow;;
      }
  }
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .content-box{
    overflow: hidden;
  }
  .nav {
    padding: 20px;
    float: left;
    width: 160px;
    background-color: #fcc;
  }
  .nav li{
    line-height: 30px;
  }
  .content{
    padding: 20px 0 0 200px;
    background-color: #ccf;
    height: 110px;
  }
  .mine-nav{
    background-color: #cfc;
    margin-top: 20px;
    height: 70px;
  }
  .mine-nav ul{
    overflow: hidden;
  }
  .mine-nav ul li{
    float: left;
    width: 50%;
  }
  .mine-nav>div{
    margin-top: 20px;
  }